<div class="about-section">
  {% if user_profile.bio %}
    <h3>Bio</h3>
    <p class="about-bio">{{ user_profile.bio }}</p>
  {% endif %}

  {% if user_profile.interests %}
    <h3>Interests</h3>
    <ul class="about-interests">
      {% for interest in user_profile.interests %}
        <li class="interest">{{ interest }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if user_profile.social_links %}
    <h3>Social Links</h3>
    <ul class="social-links">
      {% for platform, link in user_profile.social_links.items %}
        <li><a href="{{ link }}" target="_blank">{{ platform }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
