<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'signup.css' %}">
</head>
<body>
<header>
    <div class="logo"><a href="/" class="logo"><img src="/static/ScideaLogo.svg"/></a></div>
</header>
<main>
    <h1>Sign up to Scidea</h1>

    <button class="google-btn"><img src="{% static 'GoogleLogo.svg' %}" alt="Google Logo">Sign up with Google</button>

    <div class="divider"><span>or sign up with email</span></div>

    <form method="post" >
        {% csrf_token %}
        <div class="input-group">
            <label for="name">Full Name</label>
            <div class="custom-input">
                <input type="text" id="name" name="first_name" placeholder="Enter your name" required>
            </div>
        </div>

        <div class="input-group">
            <label for="username">Username</label>
            <div class="custom-input">
                <input type="text" id="username" name="username" placeholder="Choose a username" required>
            </div>
        </div>

        <div class="input-group">
            <label for="email">Email</label>
            <div class="custom-input">
                <input type="email" id="email" name="email" placeholder="Enter your email" required>
            </div>
        </div>

        <div class="input-group">
            <label for="password">Password</label>
            <div class="custom-input">
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>
        </div>

        <div class="input-group">
            <label for="password_confirm">Confirm Password</label>
            <div class="custom-input">
                <input type="password" id="password_confirm" name="password_confirm" placeholder="Confirm your password" required>
            </div>
        </div>

        <button type="submit" class="login-btn">Sign Up</button>
    </form>

    <p>Already have an account? <a href="{% url 'login' %}">Sign in here</a>.</p>

    {% if messages %}
    <div class="error-box">
        <ul>
        {% for message in messages %}
            <li><i class="error-icon"></i>{{ message }}</li>
        {% endfor %}
        </ul>
    </div>
{% endif %}

</main>
</body>
</html>
