<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    {% load socialaccount %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'signup.css' %}">
</head>
<body>
<header>
    <div class="logo"><a href="/" class="logo"><img src="/static/images/ScideaLogo.svg"/></a></div>
</header>
<main>
    <h1>Sign up to Scidea</h1>

    <a href="{% provider_login_url 'google' %}" class="google-btn">
        <img src="{% static 'images/GoogleLogo.svg' %}" alt="Google Logo"> Sign up with Google
    </a>

    <div class="divider"><span>or sign up with email</span></div>

    <form method="post">
        {% csrf_token %}
        <div class="input-group">
            <label for="name">Name</label>
            <div class="custom-input">
                <input type="text" id="name" name="name" placeholder="Enter your name" required>
            </div>
        </div>

        <div class="input-group">
            <label for="email">Email</label>
            <div class="custom-input">
                <input type="email" id="email" name="email" placeholder="Enter your email" required>
            </div>
        </div>

        <div class="input-group">
            <label for="password">Password</label>
            <div class="custom-input">
                <input type="password" id="password" name="password" placeholder="Set a password" required>
            </div>
        </div>

        <button type="submit" class="signup-btn">Sign Up</button>
    </form>

    <p>Already have an account? <a href="{% url 'custom_login' %}" class="sign-in-link">Sign in here</a>.</p>

    {% if messages %}
    <div class="error-box">
        <ul>
        {% for message in messages %}
            <li><i class="error-icon"></i>{{ message }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}


</main>
</body>
</html>
