/* General Styling */
body {
    font-family:  sans-serif;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-y: auto;
    margin: 0;
}

/* Main Container */
.container {
    width: 60%;
    padding: 20px;
}

/* Title */
.title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Title Input */
.post-title {
    width: 100%;
    padding: 12px;
    font-size: 17px;
    border: 1px solid #ddd;
    font-family: monospace;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Tag Selection */
.tags-container {
    margin: 20px 0px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag {
    padding: 10px 15px;
    background-color: #eee;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tag:hover {
    background-color: #ddd;
}

.tag.selected {
    background-color: black;
    color: white;
}

/* Post Content */
.post-content {
    width: 100%;
    min-height: 150px; /* Minimum height */
    padding: 12px;
    font-size: 16px;
    font-family: monospace;
    border: 1px solid #ddd;
    border-radius: 10px;
    resize: none;
    margin-top: 10px;
    overflow-y: hidden; /* Hide scrollbar */
}

/* Buttons */
.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    transition: margin-top 0.2s ease-in-out; /* Smooth transition */
}

.save-draft, .post-submit {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.save-draft {
    background-color: #ccc;
    color: #333;
    margin-right: 10px;
}

.post-submit {
    background-color: black;
    color: white;
}

.save-draft:hover {
    background-color: #bbb;
}

.post-submit:hover {
    background-color: #222;
}
