{% extends "base.html" %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'base.css' %}">
<link rel="stylesheet" href="{% static 'create_post.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="title">Imagine. Innovate. Create.</h1>

    <form method="POST">
        {% csrf_token %}
        <input type="text" name="title" class="post-title"
               placeholder="Title - e.g. “A new theory of gravity from string tension”"
               value="{{ form.title.value|default_if_none:'' }}">
        <textarea name="content" class="post-content"
                  placeholder="Describe your idea in detail. Add evidence, reasoning, or experiments." required>{{ form.content.value|default_if_none:'' }}</textarea>

        <!-- Tags Selection -->

        <h3>Select Tags</h3>

        <div class="tags-container">
            <div class="tags">
                {% for tag in tags %}
                <div class="tag" data-id="{{ tag.id }}">{{ tag.name }}</div>
                {% endfor %}
            </div>
        </div>
        <input type="hidden" id="selectedTags" name="selected_tags">

        <div class="button-container">
            <button type="submit" name="save_draft" class="save-draft">Save As Draft</button>
            <button type="submit" name="publish" class="post-submit">Publish Idea</button>
        </div>
    </form>
</div>

<script src="{% static 'js/create_post.js' %}"></script>

{% endblock %}

