{% load static %}
<div class="post-card">

    <div class="post-content">
        <div class="post-meta">
            <img src="{{ post.author.get_profile_picture }}" class="author-photo" alt="{{ post.author.name|default:post.author.username }}">

            <div class="post-meta-2 prevent-click">
                <a href="{% url 'profile_tab' username=post.author.username %}" class="author">{{ post.author.name|default:'User' }}</a>
                <span class="date">{{ post.created_at|date:"M d, Y" }}</span>
            </div>


            <div class="post-buttons prevent-click">
                <button class="save-button" onclick="event.preventDefault();" ><i class="bi bi-bookmark"></i>
                </button>
                <button class="more-options" onclick="event.preventDefault();"><i class="bi bi-three-dots"></i>
                </button>
            </div>
        </div>

        <a href="{% url 'post_detail' post.pk %}" class="post-title">{{ post.title }}</a>
        <a href="{% url 'post_detail' post.pk %}" class="post-excerpt">{{ post.content|striptags }}</a>


        {% if post.tags.all %}
        <div class="post-tags">
            {% for tag in post.tags.all %}
            <span class="tag">{{ tag.name }}</span>
            {% endfor %}
        </div>
        {% endif %}

        <div class="post-interactions prevent-click">
            <button class="upvote-button" data-post-id="{{ post.id }}">
                {% if post.upvoted %}
                <i class="bi bi-shift-fill"></i> {{ post.upvotes.count }}
                {% else %}
                <i class="bi bi-shift"></i> {{ post.upvotes.count }}
                {% endif %}
            </button>

            <button class="comment-btn" onclick="window.location.href='{% url 'post_detail' post.id %}#post-tags'"><i class="bi bi-filter-right"></i>{{ post.comments.count }}</button>
        </div>
    </div>
</div>

<script src="{% static 'js/post_card.js' %}"></script>
