{% load static %}
<div class="post-card" data-url="{% url 'post_detail' post.pk %}">
    <img src="{{ post.author.get_profile_picture }}" class="author-photo"
         alt="{{ post.author.name|default:post.author.username }}">

    <div class="post-content">
        <div class="post-meta">
            <span class="author">{{ post.author.name|default:'Mark' }}</span>
            <span class="date">{{ post.created_at|date:"M d" }}</span>

            <div class="post-buttons prevent-click">
                <button class="save-button" onclick="event.preventDefault();"><i class="bi bi-bookmark"></i>
                </button>
                <button class="more-options" onclick="event.preventDefault();"><i class="bi bi-three-dots"></i>
                </button>
            </div>
        </div>

        {% if post.title %}
        <div class="post-title">{{ post.title}}</div>
        {% endif %}
        <p class="post-excerpt">{{ post.content|striptags}}</p>

        {% if post.tags.all %}
        <div class="post-tags">
            {% for tag in post.tags.all %}
            <span class="tag">{{ tag.name }}</span>
            {% endfor %}
        </div>
        {% endif %}

        <div class="post-interactions prevent-click">
            <button class="upvote-button" data-post-id="{{ post.id }}">
                {% if post.upvoted %}
                <i class="bi bi-shift-fill"></i> {{ post.upvotes.count }}
                {% else %}
                <i class="bi bi-shift"></i> {{ post.upvotes.count }}
                {% endif %}
            </button>

            <button onclick="event.preventDefault();"><i class="bi bi-filter-right"></i> 250</button>
        </div>
    </div>
</div>

<script src="{% static 'js/post_card.js' %}"></script>
