body {
  font-family: sans-serif;
  color: #000;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  overflow-y: auto;
  margin: 0;
}

.container {
  width: 60%;
  padding: 20px;
  margin: auto;
  align-items: center;
}

.title {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  line-height: 1.5rem;
  letter-spacing: 0.005em;
  color: #333;
  margin-bottom: 10px;
  margin-top: 10px;
}

.post-title {
  width: 100%;
  padding: 16px;
  font-size: 17px;
  border: 1px solid #ddd;
  font-family: 'Inter', sans-serif;
  line-height: 1.5rem;
  letter-spacing: 0.005em;
  color: #333;
  border-radius: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.tags-container {
  margin: 20px 0px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 12px  ;
}

.tag {
  padding: 10px 20px;
  background-color: #f4f4f4;
  font-family: 'Inter', sans-serif;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  color: #414141;
  transition: background-color 0s ease;
}

.tag:hover {
  background-color: #eee;
}

.tag.selected {
  background-color: black;
  color: white;
}

.post-content {
     width: 100%;
     height: auto; /* Auto height */
     font-family: 'Inter', sans-serif;
     line-height: 1.5rem;
     letter-spacing: 0.005em;
     color: #333;
     min-height:300px;
     padding: 16px;
     font-size: 16px;
     border: 1px solid #ddd;
     resize: vertical;
     border-radius: 15px;
     overflow-y: auto;
     margin-top: 10px;
     margin-bottom: 20px;
 }

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  transition: margin-top 0s ease-in-out;
}

.save-draft,
.post-submit {
  padding: 12px 20px;
  font-size: 15px;
  border: none;
  font-family: 'Inter', sans-serif;
  border-radius: 20px;
  cursor: pointer;
  transition: 0s ease-in-out;
}

.save-draft {
  background-color: #f4f4f4;
  color: #414141;
  margin-right: 10px;
}

.post-submit {
  background-color: black;
  color: white;
}

.save-draft:hover {
  background-color: #eee;
}

.post-submit:hover {
  background-color: #333;
}