
.post-detail-container {
  max-width: 720px;
  margin: 40px auto;
  padding: 0 20px;
  font-family: 'Inter', sans-serif;
}

/*----------------------------------------------------------------------------------------*/


.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 50px;
}

.author-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 12px;
}

.author-info {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
}

.post-date {
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  color: #666;
}

.post-buttons {
  display: flex;
  margin-left: auto;
}

.post-buttons button {
  background: none;
  border: none;
  padding: 10px;
  border-radius: 100px;
  cursor: pointer;
  font-size: 1.1rem;
  color: #555;
}

.post-buttons button:hover,
.more-options:hover {
  color: #000;
  background-color: #f4f4f5;
}

/*----------------------------------------------------------------------------------------*/


.post-title {
  font-size: 2.5rem;
  margin: 20px 0;
  font-weight: 800;
  letter-spacing: 0rem;
  font-family: 'Inter', sans-serif;
  color: #111;
  text-decoration: none;
}

.post-body {
  font-size: 1.1rem;
  line-height: 1.7;
}


/*----------------------------------------------------------------------------------------*/


.post-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.tag {
  font-size: 14px;
  padding: 0.5rem 1rem;
  background-color: #f4f4f4;
  border-radius: 100px;
  color: #333;
}

.post-actions button {
  margin-top: 1.3rem;
  background: none;
  border: none;
  padding: 10px;
  border-radius: 100px;
  font-size: 1.1rem;
  color: #555;
  cursor: pointer;

}

.post-actions button:hover{
  color: #000;
  background-color: #f4f4f4;
}


/*-------------------------------------------------------------------------------------------------------*/

.comments {
    margin-top: 1.5rem;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.comment {
    margin-top: 40px;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-user {
    font-weight: 600;
    color: #1f2937;
}

.comment-date {
    font-size: 0.875rem;
    color: #6b7280;
}

.comment-content {
    color: #374151;
    margin-top: 0.5rem;
}

.no-comments {
    color: #6b7280;
}

.comment-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;
}

.divider{
    border: none;
    height: 1px;
    background-color: #e0e0e0;
    margin-top: 50px;

}


.comment-textarea {
     width: 100%;
     height: auto; /* Auto height */
     font-family: 'Inter', sans-serif;
     line-height: 1.5rem;
     letter-spacing: 0.005em;
     color: #333;
     min-height: 40px;
     padding: 16px;
     font-size: 16px;
     border: 1px solid #ddd;
     resize: vertical;
     border-radius: 15px;
     overflow-y: auto;
     margin-top: 10px;
}


.comment-button-container {
  display: flex;
  justify-content: flex-start;

}


.comment-submit {
  padding: 12px 20px;
  font-size: 15px;
  border: none;
  font-family: 'Inter', sans-serif;
  border-radius: 20px;
  cursor: pointer;
  transition: 0s ease-in-out;
  background-color: #f4f4f4;
  color: #333;
}

.comment-submit:hover {
      background-color: #eee;
}
