/* General layout */
.help-support-container {
    display: flex;
    gap: 2rem;
    max-width: 1100px;
    margin: 4rem auto;
    padding: 0 2rem;
    font-family: 'Poppins', sans-serif;
    color: #121212;
}

/* Sidebar (Tabs) */
.sidebar {
    min-width: 220px;
    border-right: 1px solid #e5e7eb;
    padding-top: 1rem;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 10px;
}

.tab-link {
    padding: 0.8rem 1.2rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    transition: background-color 0.2s ease;
    color: #444;
}

.tab-link:hover {
    background-color: #f9fafb;
    color: #000;
}

.tab-link.active {
    background-color: #f4f4f4;
    color: #000;
    font-weight: 600;
}

/* Main tab content area */
.tab-content-container {
    flex: 1;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

/* FAQs */
.faq-section {
  margin-bottom: 32px;
  margin-top: 32px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e0e0e0;
}

.faq-section h3 {
  font-size: 21px;
  font-weight: 600;
  color: #111;
}

.faq-item {
  margin-bottom: 36px;
  margin-top: 28px;
}

.faq-item h4 {
  font-size: 17px;
  font-weight: 800;
  margin-bottom: 8px;
  color: #222;
}

.faq-item p {
  font-size: 15px;
  color: #555;
}



.faq-section a {
    color: #534eb2;
    text-decoration: none;
}

.faq-section a:hover {
    text-decoration: underline;
}

.contact-support p{
    margin-top: 10px;
}

.contact-support button{
    font-size: 1rem;
    color: #534eb2;
    padding: 0;
    margin-left: 5px;
    border: 0px solid #ccc;
    background-color: white;
    cursor: pointer;
}

.email-link {
    color: #534eb2;
    text-decoration: none;
    margin-top: 10px;
}
.email-link:hover {
    text-decoration: underline;
}



/* Quick Links */
.quick-links {
    list-style: none;
    padding-left: 0;
    margin-top: 1rem;
}

.quick-links li {
    margin-bottom: 1rem;
}

.quick-links a {
    color: #534eb2;
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.2s;
}

.quick-links a:hover {
    text-decoration: underline;
}

/* Responsive */
@media (max-width: 768px) {
    .help-support-container {
        flex-direction: column;
        padding: 1rem;
    }

    .sidebar {
        border-right: none;
        border-bottom: 1px solid #e5e7eb;
        padding-bottom: 1rem;
        margin-bottom: 2rem;
    }

    .tab-link {
        display: inline-block;
        margin-right: 1rem;
    }
}
