<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Scidea{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    {% block head %}{% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans&family=Inter&family=Open+Sans&family=Roboto&family=Poppins&display=swap"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"/>
</head>
<body>
<!-- Main Navigation -->
<nav>
    <a href="/" class="logo"><img src="{% static 'images/ScideaLogo.svg' %}" alt="Scidea"></a>
    <ul class="nav-links">
        <li class="topics-dropdown">
            <a href="#" class="topics-text">Explore<span class="arrow">&#10095;</span></a>
            <ul class="topics-dropdown-content">
                <li><a href="#"><i class="bi bi-graph-up-arrow"></i>Popular</a></li>
                <li><a href="#"><i class="bi bi-stars"></i>New and Noteworthy</a></li>
                <hr class="topics-dropdown-divider">
                <li><a href="#">Observations</a></li>
                <li><a href="#">Facts & Findings</a></li>
                <li><a href="#">Thought Experiments</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Hypotheses</a></li>
                <li><a href="#">Challenges</a></li>
                <li><a href="#">Misconceptions</a></li>
                <li><a href="#">Controversies</a></li>
                <li><a href="#">Research Papers</a></li>
            </ul>
        </li>
    </ul>

    <div class="search-container">
    <i class="bi bi-search search-icon"></i>
    <input type="text" placeholder="Search" class="search-input">
    </div>


    <!--        <input type="text" class="search-bar" placeholder="Search posts...">-->
    {% if user.is_authenticated %}

    <a class="write" href="{% url 'create_post' %}"><i class="bi bi-pencil-square"></i>Write</a>

    {% endif %}

    {% if  not user.is_authenticated %}

    <a class="write" href="{% url 'custom_signup' %}"><i class="bi bi-pencil-square"></i>Write</a>

    {% endif %}


    <div class="right-items">

        <!-- Authentication -->
        {% if user.is_authenticated %}
        <!--        <a href="#" class="notifications"><span class="material-symbols-outlined">notifications</span></a>-->
        <div class="profile-dropdown">

            <a href="{% url 'profile_tab' username=request.user.username %}" class="profile-link">
                <img src="{{ user.get_profile_picture }}" class="profile-pic" alt="Profile">

            </a>
            <ul class="profile-dropdown-content">
                <li><a href="{% url 'profile_tab' username=request.user.username %}" class="profile-btn"><i class="bi bi-person"></i>Profile</a></li>
                <li><a href="#"><i class="bi bi-pen"></i>My Ideas</a></li>
                <li><a href="#"><i class="bi bi-bookmark"></i>Bookmarks</a></li>
                <li><a href="#"><i class="bi bi-file-earmark-text"></i>Drafts</a></li>
                <hr class="profile-dropdown-divider">
                <li><a href="#"><i class="bi bi-gear"></i>Settings</a></li>
                <hr class="profile-dropdown-divider">
                <li><a href="{% url 'feedback' %}"><i class="bi bi-chat-left-text"></i>Feedback</a>
                <li><a href="{% url 'guidelines' %}"><i class="bi bi-journal-check"></i>Guidelines</a></li>
                <li><a href="{% url 'support' %}"><i class="bi bi-question-circle"></i>Help and Support</a>
                </li>
                <hr class="profile-dropdown-divider">
                <li><a href="{% url 'logout' %} " class="logout-btn"><i class="bi bi-box-arrow-right"></i>Log Out</a>
                </li>
            </ul>
        </div>
        {% else %}
        <div class="auth-buttons">
            <a href="{% url 'custom_signup' %}" class="signup-btn">Sign Up</a>
            <a href="{% url 'custom_login' %}" class="login-btn">Log In</a>
        </div>
        {% endif %}

    </div>
</nav>

<!-- Page Content -->
<!-- Page Content -->
<div class="content-wrapper">
    {% block content %}
    {% endblock %}
</div>

{% block script %}
{% endblock %}
</body>
</html>
