<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Scidea{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    {% block head %}{% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <!-- Main Navigation -->
    <nav>
        <a href="/" class="logo"><img src="{% static 'ScideaLogo.svg' %}" alt="Scidea Logo"></a>
        <ul class="nav-links">
            <li class="topics-dropdown">
                <a href="/ideas/list/">Explore <span class="arrow">&#10095;</span></a>
                <ul class="topics-dropdown-content">
                    <li><a href="#"><span class="material-icons">trending_up</span>Popular</a></li>
                    <li><a href="#"><span class="material-icons">hotel_class</span>New and Noteworthy</a></li>
                    <hr class="topics-dropdown-divider">
                    <li><a href="#">Observations</a></li>
                    <li><a href="#">Facts & Findings</a></li>
                    <li><a href="#">Thought Experiments</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Hypotheses</a></li>
                    <li><a href="#">Challenges</a></li>
                    <li><a href="#">Misconceptions</a></li>
                    <li><a href="#">Controversies</a></li>
                    <li><a href="#">Research Papers</a></li>
                </ul>
            </li>
            <li><a href="/ideas/list/">Explore Ideas</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'create_post' %}">Submit an Idea</a></li>
            {% else %}
            <li><a href="{% url 'custom_signup' %}">Submit an Idea</a></li>
            {% endif %}
        </ul>

        <!-- Authentication -->
        {% if user.is_authenticated %}
        <div class="profile-dropdown">
            <a href="{% url 'profile_tab' %}" class="profile-link">
                <img src="{{ user.get_profile_picture }}"  class="profile-icon">
            </a>
            <ul class="profile-dropdown-content">
                <li><a href="{% url 'profile_tab' %}"><span class="material-icons">person</span>Profile</a></li>
                <li><a href="{% url 'settings_tab' %}"><span class="material-icons">tune</span>Settings</a></li>
                <hr class="profile-dropdown-divider">
                <li><a href="{% url 'logout' %} " class="logout-btn"><span class="material-icons">logout</span>Log Out</a></li>
            </ul>
        </div>
        {% else %}
        <div class="auth-buttons">
            <a href="{% url 'custom_signup' %}" class="signup-btn">Sign Up</a>
            <a href="{% url 'custom_login' %}" class="login-btn">Log In</a>
        </div>
        {% endif %}
    </nav>

    <!-- Page Content -->
    <div class="content-wrapper">
        {% block content %}{% endblock %}
    </div>

    </body>
</html>