{% extends 'base.html' %}

{% block title %}Profile - Scidea{% endblock %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'base.css' %}">
<link rel="stylesheet" href="{% static 'profile.css' %}">
{% endblock %}

{% block content %}
<div class="profile-container">
    <!-- Header Section -->
    <div class="profile-header">
        <div class="profile-details">
                {% if user.profile_picture %}
                <img src="{{ user.profile_picture }}" class="profile-pic">
                {% else %}
                <img src="{% static 'default-avatar.svg' %}" class="profile-pic">
                {% endif %}
            <div class="profile-info">
                <h1>{{ user.first_name }} {{ user.last_name }}</h1>
                <p class="idea-count">{{ user.ideas.count }} 10 ideas posted</p>
            </div>
        </div>
        <a href="{% url 'settings_tab' %}" class="edit-profile-btn"><span class="material-icons profile-icon">edit</span>Edit Profile</a>
    </div>

    <!-- Tabs Section -->
    <div class="tabs-nav">
        <a href="{% url 'profile_tab' %}" class="{% if request.resolver_match.url_name == 'profile_tab' %}active{% endif %}">
            Profile
        </a>
        <a href="{% url 'activity_tab' %}" class="{% if request.resolver_match.url_name == 'activity_tab' %}active{% endif %}">
            Activity
        </a>
        <a href="{% url 'lists_tab' %}" class="{% if request.resolver_match.url_name == 'lists_tab' %}active{% endif %}">
            Lists
        </a>
        <a href="{% url 'settings_tab' %}" class="{% if request.resolver_match.url_name == 'settings_tab' %}active{% endif %}">
            Settings
        </a>
    </div>



    <!-- Tab Content -->
    <div id="tab-content">
        {% block tab_content %}
        <!-- Tab-specific content goes here -->
        {% endblock %}
    </div>
</div>
{% endblock %}
